<div class="ink-grid">
    <div class="column-group">
        <div class="xlarge-60 large-70 medium-80 small-100 tiny-100 home-content">
            <div class="column-group home-info-banner center">
                <div class="all-70 center">
                    <h1 class="fw-300 uppercase">Que</h1>
                </div>
            </div>
            <hr class="hr-70">
            <div class="column-group home-info-content">
                <div class="all-100">
                    <h3 class="fw-100 tc">Shareable Music Queue</h3>
                    <dl class="home-steps">
                        <dt>Create Queue</dt>
                        <dd>As simple as clicking a button. They are free to make so make as many as you want!</dd>
                        <dt>Add Music</dt>
                        <dd>Search for your favorite songs or artists and add tracks to the queue.</dd>
                        <dt>Share Link</dt>
                        <dd>Copy your unique url and give it to your friends, enemies, or... anybody. Each queue will have the same music and play it at the same time.</dd>
                        <dt class="beta">Beta</dt>
                        <dd class="beta">Que is still in development, please be patient as some things may break or be broken.</dd>
                    </dl>
                </div>
            </div>

            <div class="column-group">
                <div class="all-30 medium-60 small-100 tiny-100 create-button-wrapper">
                    <button ng-click="createPage()" class="ink-button blue one-but">Create Queue</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <h1>home page</h1>
<button ng-click="createPage()" class="ink-button">Create Page</button>
 -->
