<div class="ink-grid">

    <!--[if lte IE 9 ]>
            <div class="ink-alert basic" role="alert">
                <button class="ink-dismiss">&times;</button>
                <p>
                    <strong>You are using an outdated Internet Explorer version.</strong>
                    Please <a href="http://browsehappy.com/">upgrade to a modern browser</a> to improve your web experience.
                </p>
            </div>
          -->

    <!-- Add your site or application content here -->

    <a href="/">
        <section class="column-group queue-banner">
            <div class="all-100 center">
                <!-- <h1>Que</h1> -->
            </div>
        </section>
    </a>

    <div class="column-group gutters main-content">
        <div class="xlarge-70 large-70 medium-100 small-100 tiny-100">

            <!-- Youtube Player -->
            <div fit-vids ng-show="isPlaying" class="player-wrapper">
                <h2>Playing</h2>
                <iframe id="player" type="text/html" width="1280" height="720" src="https://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&iv_load_policy=3&autohide=1" frameborder="0" allowfullscreen></iframe </div>
                <strong>{{playing.artist}}</strong>- {{playing.track}}
            </div>

            <!-- Nothing Playing Indication -->
            <div ng-hide="isPlaying" class="nothing-playing tc">
                <h1 class="fw-100">Nothing in Queue</h1>
                <p>Search for song or artist below</p>
            </div>

            <!-- Search Part -->
            <div ng-show="connected" class="column-group box">
                <div class="all-60 center tc">
                    <form class="ink-form">
                        <h2>Search for Song to Queue</h2>
                        <div class="column-group gutters">
                            <div class="control-group all-33">
                                <label for="track">Song</label>
                                <div class="control">
                                    <input ng-model="track" type="text">
                                </div>
                            </div>
                            <div class="control-group all-33">
                                <label for="artist">Artist</label>
                                <div class="control">
                                    <input ng-model="artist" type="text">
                                </div>
                            </div>
                            <div class="control-group all-33">
                                <div class="control search-button">
                                    <button ng-click="search(track, artist)" class="ink-button one-but">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div ng-show="isSearching" class="column-group box searching">
                <div class="xlarge-70 large-70 medium-60 small-100 tiny-100">
                    <div id="search-loading"></div>

                    <script type="text/javascript">
                    var opts = {
                        lines: 7, // The number of lines to draw
                        length: 0, // The length of each line
                        width: 10, // The line thickness
                        radius: 21, // The radius of the inner circle
                        corners: 1, // Corner roundness (0..1)
                        rotate: 0, // The rotation offset
                        direction: 1, // 1: clockwise, -1: counterclockwise
                        color: '#000', // #rgb or #rrggbb or array of colors
                        speed: 1.1, // Rounds per second
                        trail: 56, // Afterglow percentage
                        shadow: false, // Whether to render a shadow
                        hwaccel: false, // Whether to use hardware acceleration
                        className: 'spinner', // The CSS class to assign to the spinner
                        zIndex: 2e9, // The z-index (defaults to 2000000000)
                        top: '50%', // Top position relative to parent
                        left: '50%' // Left position relative to parent
                    };
                    var target = document.getElementById('search-loading');
                    var spinner = new Spinner(opts).spin(target);
                    </script>
                </div>
            </div>

            <!-- the search results -->
            <div ng-class="{hidden: !isResults || no_results || isSearching}" class="column-group box">
                <div class="xlarge-70 large-70 medium-60 small-100 tiny-100 search-results">
                    <ul class="unstyled">
                        <div ng-repeat="s in searches">
                            <li class="track-result">
                                <a ng-click="queueTrack(s)" ng-class="{'link-dis': isQueueing, 'link-no-und': !isQueueing}">
                                    <strong>{{s.artist}}</strong>- {{s.track}}
                                </a>
                            </li>
                            <!-- <button ng-click="queueTrack(s)" class="ink-button">
                            <strong>{{s.artist}}</strong>- {{s.track}}
                        </button> -->
                        </div>
                    </ul>

                    <div ng-show="isQueueing" id="queue-loading"></div>

                    <script type="text/javascript">
                    var opts = {
                        lines: 7, // The number of lines to draw
                        length: 0, // The length of each line
                        width: 10, // The line thickness
                        radius: 21, // The radius of the inner circle
                        corners: 1, // Corner roundness (0..1)
                        rotate: 0, // The rotation offset
                        direction: 1, // 1: clockwise, -1: counterclockwise
                        color: '#000', // #rgb or #rrggbb or array of colors
                        speed: 1.1, // Rounds per second
                        trail: 56, // Afterglow percentage
                        shadow: false, // Whether to render a shadow
                        hwaccel: false, // Whether to use hardware acceleration
                        className: 'spinner', // The CSS class to assign to the spinner
                        zIndex: 2e9, // The z-index (defaults to 2000000000)
                        top: '50%', // Top position relative to parent
                        left: '50%' // Left position relative to parent
                    };
                    var target = document.getElementById('queue-loading');
                    var spinner = new Spinner(opts).spin(target);
                    </script>

                    <div ng-show="no_results">
                        <strong>Sorry, Could not find any results for your query</strong>
                    </div>
                </div>
            </div>

            <div ng-class="{hidden: !no_results || isSearching}" class="column-group box no-results">
                <h2 class="fw-100 center">
                    No Search Results Found
                </h2>
            </div>
        </div>


        <!-- Up Next Side Part -->
        <div class="xlarge-30 large-30 medium-100 small-100 tiny-100">
            <h2>Up Next</h2>
            <ul class="unstyled">
                <li ng-repeat="q in queue" class="column-group half-gutters">
                    <div class="all-40 small-50 tiny-50">
                        <img src="{{q.image_large}}" alt="">
                    </div>
                    <div class="all-60 small-50 tiny-50">
                        <h3>{{q.track}}</h3>
                        <h4>{{q.artist}}</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
