<div class="ink-grid">

    <!--[if lte IE 9 ]>
            <div class="ink-alert basic" role="alert">
                <button class="ink-dismiss">&times;</button>
                <p>
                    <strong>You are using an outdated Internet Explorer version.</strong>
                    Please <a href="http://browsehappy.com/">upgrade to a modern browser</a> to improve your web experience.
                </p>
            </div>
          -->

    <!-- Add your site or application content here -->

    <section class="column-group banner">
        <div class="all-100 center">
            <h1>Que</h1>
        </div>
    </section>

    <section class="column-group gutters top-content">
        <div class="xlarge-70 large-70 medium-60 small-100 tiny-100">
            <div fit-vids ng-show="isPlaying" class="player-wrapper">
                <h2>Playing</h2>
                <iframe id="player" type="text/html" width="1280" height="720" src="https://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1" frameborder="0"></iframe </div>
                <strong>{{playing.artist}}</strong> - {{playing.track}}
            </div>
            <div ng-hide="isPlaying">
              Nothing to Play
            </div>
        </div>
        <div class="xlarge-30 large-30 medium-40 small-100 tiny-100">
            <h2>Up Next</h2>
            <ul class="unstyled">
                <li ng-repeat="q in queue" class="column-group half-gutters">
                    <div class="all-40 small-50 tiny-50">
                        <img src="holder.js/640x380/auto/ink" alt="">
                    </div>
                    <div class="all-60 small-50 tiny-50">
                        <h3>{{q.track}}</h3>
                        <h4>{{q.artist}}</h4>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="column-group bot-content">
        <div class="xlarge-70 large-70 medium-60 small-100 tiny-100">
            <form class="ink-form center">
                <h2>Search for Song to Queue</h2>
                <div class="column-group gutters">
                    <div class="control-group all-33">
                        <label for="track">Song</label>
                        <div class="control">
                            <input ng-model="track" type="text">
                        </div>
                    </div>
                    <div class="control-group all-33">
                        <label for="artist">Artist</label>
                        <div class="control">
                            <input ng-model="artist" type="text">
                        </div>
                    </div>
                    <div class="control-group all-33">
                        <div class="control search-button">
                            <button ng-click="search(track, artist)" class="ink-button">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="xlarge-70 large-70 medium-60 small-100 tiny-100">
            <div class="search-results">
                <div ng-hide="no_results" ng-repeat="s in searches">
                    <button ng-click="queueTrack(s)" class="ink-button">
                        <strong>{{s.artist}}</strong> - {{s.track}}
                    </button>
                </div>
                <div ng-show="no_results">
                    <strong>Sorry, Could not find any results for your query</strong>
                </div>
            </div>
        </div>
    </section>
</div>
